/*reset pagina*/
*{
    padding:0;
    margin:0;
    border:0;
    box-sizing:border-box;
    text-decoration: none;
}
    /* iNICIO CABEÇALHO*/
header{
    width: 100%;
    position: fixed;  
}
.primeiro-nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:rgb(245, 243, 243);
    padding: 0 2.4rem;
    height: 2.5rem;
}
#jordan img{
    margin-right: 20px;
    width: 30px;
}
#SNKRS{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-logo-nike img{
    width: 80px;
}
.segundo-nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: white;
    padding: 0 2.4rem;
    height: 4.8rem;
}
.primeiro-menu a{
    color:rgb(32, 32, 32);
    margin-right: 20px; 
}
.pesquisa-btn{
    border-radius: 25px;
    background-color: rgb(245, 243, 243);
    padding: 8px;
    padding-right: 80px;
    padding-left: 20px;
    color: rgb(88, 86, 86);
    font-size: 20px;
    margin-right: 40px;
} 
.carrinho-btn img{
    width: 18px;
}
.menu-btn img{
    width: 18px;
    display: none;
}
.segundo-menu a{
    color:black;
    margin-right: 30px; 
    font-weight: bold;
    font-size: 17px;
}
 /* iNICIO DO CORPO*/
.representante{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(245, 243, 243);
    font-weight: bold;
    padding-top: 125px;
}
.representante img{
    width: 35px;
}
.img-folder img, .lookbook{
    display: flex;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 20px;
}
.lookbook-responsivo{
    display: none;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 20px;
}
.headline h1{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headline h2{
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
}
.headline h3{
    font-size: 30px;
    margin-left: 3%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.saiba-mais{
    display: inline-block;
    max-width: 20%;
    margin-left: 45%;
	padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	border-radius: 25px;
	margin-top: 25px;
}
.membership h2{
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}
.membership h3{
    font-size: 30px;
    margin-left: 3%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.junte-se-a-nos{
    display: inline-block;
    margin-left: 45%;
	padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	border-radius: 25px;
	margin-top: 25px; 
}
.conheca-tbm-cards{
    display:inline-block;
    width: 97%;
}
.card{
    display:inline-block;
    background-size: cover;
    height: 450px;
    width: 23.9%; 
}
.card-01{
    background-image: url("../img/conheca-tbm01.jpg") ;
    margin-left: 3%;   
}
.card-02{
    background-image: url("../img/conheca-tbm02.jpg") ;
}
.card-03{
    background-image: url("../img/conheca-tbm03.jpg") ;
}
.card-04{
    background-image: url("../img/conheca-tbm04.jpg") ;
}
.saiba-mais-btn{
    display: inline-block;
    margin-left: 6%;
	padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
	color:black;
	text-decoration:none;
	border-radius: 25px;
	margin-top:125%;
    font-size: 17px;
}
.n-p-card-text{
    display:inline-block;
    width: 100%;
}
.card-text{
    display:inline-block;
    width: 20%;
    margin-left:1%;
    cursor:pointer;
}
.n-p-card-text01, .n-p-card-text05{
    margin-left:8%;
}
.n-card{
    display:inline-block;
    background-size: cover;
    height: 300px;
    width: 20%;
    margin-left:1%;
    cursor:pointer;
}
.n-p-card-01{
    background-image: url("../img/n-perca01.png") ;
    margin-left:8%;
}
.n-p-card-02{
    background-image: url("../img/n-perca02.png") ;
}
.n-p-card-03{
    background-image: url("../img/n-perca02.png") ;
}
.n-p-card-04{
    background-image: url("../img/n-perca03.png") ;
}
.maisvendidos-naoperca{
    margin-left: 8%;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.n-p-card-05{
    background-image: url("../img/mais-vendidos01.png") ;
    margin-left:8%;
}
.n-p-card-06{
    background-image: url("../img/mais-vendidos02.png") ;
}
.n-p-card-07{
    background-image: url("../img/mais-vendidos03.png") ;
}
.n-p-card-08{
    background-image: url("../img/mais-vendidos04.png") ;
}
.n-p-card-08:hover .comprar-btn{
    display:block;
}
.n-p-card-07:hover .comprar-btn{
    display: block;
}
.n-p-card-06:hover .comprar-btn{
    display: block;
}
.n-p-card-05:hover .comprar-btn{
    display: block;
}
.n-p-card-04:hover .comprar-btn{
    display: block;
}
.n-p-card-03:hover .comprar-btn{
    display: block;
}
.n-p-card-02:hover .comprar-btn{
    display: block;
}
.n-p-card-01:hover .comprar-btn{
    display: block;
}
.comprar-btn{
    display: inline-block;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 35%;
    padding-right: 34%;
    background-color:black;
    color:white;
    text-decoration:none;
    border-radius:3px;
    margin-top:100%;
    font-size: 17px;
}
.comprar-btn{
    display: none;  
}
 /* iNICIO DO FOOTER*/
.primeiro-footer{
    display: flex;
    background-color: rgb(17, 16, 16);
    width: 100%;
    margin-top: 100px;
}
.card-footer-01{
    display:inline-block;
    height: 300px;
    width: 30%;
    margin-left:5%;
    margin-top: 40px;
    cursor:pointer;
}
.card-footer-02{
    display: inline-block;
    height: 300px;
    width: 30%;
    margin-left:3%;
    margin-top: 40px;
    cursor:pointer;
}
.card-footer-03{
    display: inline-block;
    height: 300px;
    width: 30%;
    margin-left:3%;
    margin-top: 40px;
    cursor:pointer;
}
.card-footer-04{
    display: inline-block;
    height: 300px;
    width: 30%;
    margin-right: 3%;
    margin-top: 40px;
    cursor:pointer;
}
.primeiro-footer h2{
    color: rgb(201, 192, 192);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.primeiro-footer p{
    color: rgb(201, 192, 192);
    font-size: 15px;
    margin-top: 10px;
}
.card-footer-04 img{
    padding: 8px;
    cursor:pointer;
} 
.section-hr{
   background-color: rgb(17, 16, 16);
}
.hr{
    display: block;
    border:0;
    border: 1px solid rgb(201, 192, 192);
    width: 90%;
    margin-left: 5%;
}
.primeiro-hr{
    display: none;
    border:0;
    border-top: 1px solid rgb(201, 192, 192);
}
.segundo-hr{
    display: none;
    border:0;
    border-top: 1px solid rgb(201, 192, 192);
}
.terceiro-hr{
    display: none;
    border:0;
    border-top: 1px solid rgb(201, 192, 192);
}
.quarto-hr{
    display: none;
    border:0;
    border-top: 1px solid rgb(201, 192, 192);
}
.segundo-footer{
    display: flex;
    background-color: rgb(17, 16, 16);
    width: 100%;
    height: 120px;
}
.segundo-footer h4{
    color:rgb(201, 192, 192);
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
}
.brasil{
    display: inline-block;
    width: 8%;
    margin-left:5%;
    margin-top: 10px;
    cursor:pointer;
}
.termo, .politica{
    display: inline-block;
    width: 8%;
    margin-left:3%;
    margin-top: 10px;
    cursor:pointer;
}
.direitos{
    display: inline-block;
    width: 56%;
    margin-left:3%;
    margin-top: 10px;
    cursor:pointer;
    text-align:end;
}



